<!DOCTYPE html>
<html>
    <head>
        <title>Wenjia's website</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../../css/style.css"/>
    </head>
    <body>
        <h1 style="text-align:center;font-family:verdana">Rate your apartment and find your own apartment.</h1>
        
        <h2 style="text-align:center;">We are a network of houseseekers, renters, and who want to find roommates.</h2>
        <!--This following @plans is the webpage name showed not means to jump to plan.html, it's the controller name-->
        <p style="text-align:center;font-family:courier;color:#f245b6;">Click <a data-th-href="@{/main}">here</a> to start.</p>
        
    
    </body>
</html>
