<!DOCTYPE html>
<html>
<header>
    <h1>
      HouseRater
    </h1>
  <nav am-layout="horizontal">
  <a data-th-href="@{/login}">Login</a>
  <a data-th-href="@{/plans}">Find Roommate</a>
  <a data-th-href="@{/recipes}">Rate your apartment</a>
  <a data-th-href="@{/seek}">Find your house</a>
  <a data-th-href="@{/uploadForm}">Share with us</a>
  </nav>
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="../../css/main.css"/>
</header>
<main>
  <article>
        <aside>
      <h1>
      
      </h1>
    </aside>
    <section>
    <h1>
      We are here for you.
    </h1>
    <p>
    Do you want to find a roommate before you move in?<br/>
    Do you want to know the real condition of the house you like?<br/>
    Do you want to find a apartment that is appropriate for you?<br/>
     </p>
    </section>
    <aside>
      <h1>
      
      </h1>
    </aside>
  </article>
</main>
<footer>
    <p><a data-th-href="@{/home}">Go back to start page</a></p>
</footer>
<!--This following @plans is the webpage name showed not means to jump to plan.html, it's the controller name-->
        <!--
        <p style="text-align:center;font-family:courier;color:#f245b6;">Click <a data-th-href="@{/login}">here</a> to login.</p>
        <p style="text-align:center;font-family:courier;color:#f245b6;">Click <a data-th-href="@{/plans}">here</a> to find roommates.</p>
        <p style="text-align:center;font-family:courier;color:#f245b6;">Click <a data-th-href="@{/recipes}">here</a> to rate your apartment.</p>
        <p style="text-align:center;font-family:courier;color:#f245b6;">Click <a data-th-href="@{/seeks}">here</a> to find your house. </p>
        <div style="text-align:center;">
            <a data-th-href="@{/files}">Share your room decoration with us!</a>
        </div>
    -->


</html>