<!DOCTYPE html>
<html>
    <head>
        <title>User Home</title>
        <style>
        table tr:nth-child(even) {
            background-color: #eafcb3;
            padding: 5px;
        }
        table tr:nth-child(odd) {
           background-color:#fff;
           padding: 5px;
        }
        table th {
            background-color: #779126;
            color: white;
            padding: 5px;
        }
        </style>
    </head>
  

    <body>
        <h1 data-th-inline="text" style="text-align:center;">Leave your information and find a roomate.</h1>
        <div style="text-align:center">
        <img data-th-src="@{images/roommate.jpg}" alt="roommate" data-th-width="500" data-th-height="300"/>
        </div>
        <div>
            <table align="center" style="width:50%">
                <tr>
                    <th>ID</th>
                    <th>Apt name or area</th>
                    <th>name</th>
                    <th>Type</th>
                    <th>Email</th>
                    <th>Detail info</th>
                </tr>                
                <tr data-th-each="plan : ${plans}">
                    <td data-th-text="${plan.id}"></td>
                    <td data-th-text="${plan.title}"></td>
                    <td data-th-text="${plan.name}"></td>
                    <td data-th-text="${plan.demand}"></td>
                    <td data-th-text="${plan.email}"></td>
                    <td data-th-text="${plan.info}"></td>
                </tr>
            </table>
        </div>
        
        <hr />
        
        <p style="text-align:center; font-family:courier;">Add your demand<br />
        <form align="center" data-th-action="@{/plans}" name="addPlanForm" method="post">
            Apartment name or the area you want to live: <input type="text" name="title" /><br />
            Your name: <input type="text" name="name" /><br />
            Please enter your demand:<br />
            
            <input type="radio" name="demand" value="unknown" checked="checked" />Don't know yet.<br />
          
            <input type="radio" name="demand" value="request" /> I have an apartment and want to find roommates.<br />
        
            <input type="radio" name="demand" value="require" />I don't have apartment and want to find someone to live with.<br />
      
            Enter your email in order to let others contact you easily: <input type="text" name="email" /><br />
            <br />
            Tell us more about you or your apartmenet, it will make others know you better: <input type="text" name="info" /><br />
            <input type="submit" value="Submit your demand"/>
        </form>
        </p>
        
        <hr />       
        <form align="center" data-th-action="@{/logout}" method="post">
            If you don't want to keep login, please sign out.
            <input type="submit" value="Sign Out"/>
        </form>

    </body>
</html>