<!DOCTYPE html>
<html>
    <head>
        <title>Seek house</title>
        <style>
        table tr:nth-child(even) {
            background-color: #fce899;
            padding: 5px;
        }
        table tr:nth-child(odd) {
           background-color:#fff;
           padding: 5px;
        }
        table th {
            background-color: #eec111;
            color: white;
            padding: 5px;
        }
        p, form, button{
            margin-left: 350px;
        }
        </style>
        <link rel="stylesheet" type="text/css" th:href="@{/css/option.css}" href="../../css/option.css"/>
    </head>

    <body>
    <!--
        <h1 data-th-inline="text" style="text-align:center;">[[${#httpServletRequest.remoteUser}]]'s seeking records !</h1>
    -->

        <h1 data-th-inline="text" style="text-align:center;">Enter your demand and it will help you find great house!</h1>
       <div style="text-align:center">
        <img data-th-src="@{/images/welcome.jpg}" alt="welcome" data-th-width="500" data-th-height="300"/>
        </div>
       <div>
            <table align="center" style="width:80%">
                <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>name</th>
                    <th>rent fee</th>
                    <th>Email</th>
                    <th>Other requirement</th>
                    
                </tr>                
                <tr data-th-each="seek : ${seek}">
                    <td data-th-text="${seek.id}"></td>
                    <td data-th-text="${seek.type}"></td>
                    <td data-th-text="${seek.name}"></td>
                    <td data-th-text="${seek.fee}"></td>
                    <td data-th-text="${seek.email}"></td>
                    <td data-th-text="${seek.comment}"></td>
                    <td><a data-th-href="@{/seek/{id}(id=${seek.id})}">edit</a></td>
                </tr>
            </table>
        </div>
        
        <hr />
        
        <p style="text-align:left; font-family:courier;">What kind of house do you want to live in?<br />
        <form align="left" data-th-action="@{/seek}" name="addSeekForm" method="post">
    
            What type of apartment do you want to live?<br />
            <input type="radio" name="type" value="two_bedroom" checked="checked" /> two bedrooms<br />
            <input type="radio" name="type" value="one_bedroom" /> one bedroom<br />
            <input type="radio" name="type" value="studio" />  studio<br />
            <input type="radio" name="type" value="house" /> house<br />
            <input type="radio" name="type" value="none" /> None of them<br />
            Your name: <input type="text" name="name" /><br />
            How much do you want to pay for it? <input type="text" name="fee" /><br />
            <br />
            What's your email address <input type="text" name="email" /><br />
            Describe your expectation of your house: <input type="text" name="comment" /><br />
            <input style = "font-size : 16px;" type="submit" value="Seek it! "/>
        </form>
        </p>
        <hr /> 
        
         <form align="left" data-th-action="@{/seek/delete}" name="addSeekForm" method="delete">
            Input the id that you want to delete: <input type="text" name="id" /><br /> 
            <input style = "font-size : 16px;" type="submit" value="Delete the record"/>
        </form>
        <hr />
        <div align="center">Go back to <a data-th-href="@{/main}">home page</a> ! </div>
        <hr /> 
        
        <p id="demo">Let other people find me! </p>
            <script>
            function myFunction() {
            document.getElementById("demo").style.fontSize = "25px"; 
            document.getElementById("demo").style.color = "red";     
            }
            </script>
            <button type="button" onclick="myFunction()">Find!</button>

    </body>
</html>