<!DOCTYPE html>
<html>
    <head>
        <title>File Upload</title>
    </head>
    <body>
        <h2>Share your apartment's floor plan or your room decoration with us! And let
            others know more about the apartment.</h2>
        <div data-th-if="${message}">
            <h2 data-th-text="${message}"/>
        </div>

        <div>
            <form data-th-action="@{/files}" name="uploadFileForm" method="POST" enctype="multipart/form-data" >                
<!--            <form data-th-action="@{/files(${_csrf.parameterName}=${_csrf.token})}" name="uploadFileForm" method="POST" enctype="multipart/form-data" >                                -->
                Select picture to upload:<input type="file" name="file" /><br />
                <input type="submit" value="Upload" />
            </form>
        </div>

        <div>
            <ul>
                <li data-th-each="file : ${files}">
                    <a data-th-href="${file}" data-th-text="${file}"></a>
                </li>
            </ul>
        </div>
        <hr />
        <div align="left">Go back to <a data-th-href="@{/main}">home page</a> ! </div>
    </body>
</html>